{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="container">
    <h1 class="text-center">Showing content of {{ file_name }}</h1>
    <table class="table">
    <thead>
      <tr>
        {% for heading in headings %}
            <th scope="col">{{ heading }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
          <tr>
              {% for column in row %}
                <td>{{ column }}</td>
              {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}